#form {
    background-color: white;
	border-style: solid;
	font-size:12pt;
	margin-right:420px;
	margin-top:-0px;
	margin-left:420px;
	margin-bottom:0px;
	
}

#form2 {
    background-color: white;
	border-style: solid;
	font-size:12pt;
	margin-right:420px;
	margin-top:-0px;
	margin-left:420px;
	
}

#form3 {
	background-color:white;
	border-style: solid;
	font-size:12pt;
	margin-right:420px;
	margin-top:-0px;
	margin-left:420px;
}
	

.cima2{
	
	height:20px;
	background-color: #C0C0C0;
	top:-100px;
	font-size:12pt;
	margin-right:435px;
	margin-left:435px;
	
}	
.cima3{
	
	height:20px;
	background-color: #C0C0C0;
	top:-100px;
	font-size:12pt;
	margin-right:435px;
	margin-top:-0px;
	margin-left:435px;
}	

input{
	background-color: #CEE3F6;
	border: none;
}

.cima4{
	
	height:10px;
	background-color: #C0C0C0;
	top:-100px;
	font-size:12pt;
	margin-right:435px;
	margin-top:-0px;
	margin-left:435px;
}

textarea{
	background-color: #CEE3F6;
}

.SIC{
	color:red;
	font-size:390%;
	margin-left: 1000px;
	margin-left:900px;
	margin-bottom:-65px;
}

#paragrafo2{
		margin-top: 6px;
		margin-left: 10px;
}	

#paragrafo3{
		margin-top: 5px;
		margin-left: 20px;
}
#paragrafo4{
		margin-top: -15px;
		margin-left: 10px;
}						

#paragrafo5{
		margin-top: -5px;
		margin-left: 17px;
}						

#paragrafo7{
	
		margin-top: -30px;
		margin-left: 17px;
}					

#paragrafo8{
	
		margin-top: -10px;
		margin-left: 19px;
}					
	#paragrafo9{
	
		margin-top: -28px;
		margin-left: 21px;
}					
	
#paragrafo10{
	
		margin-top: -10px;
		margin-left: 17px;
}						
#paragrafo11{
	
		margin-top: -28px;
		margin-left: 19px;
		
}						
	
#paragrafo12{
	
		margin-top: -28px;
		margin-left: 20px;
		
		
}							
#paragrafo13{
	
		margin-top: -28px;
		margin-left: 20px;
	}		
#paragrafo14{
	
		margin-top: -28px;
		margin-left: 20px;
		font-size:12pt;
		
}		
#paragrafo15{
	
		margin-top: -28px;
		margin-left: 20px;
		
		
}						
#paragrafo16{
	
		margin-top: -20px;
		margin-left: 10px;
		
		
}						
#paragrafo17{
	
		margin-top: 5px;
		margin-left: 7px;
		
		
}						
#paragrafo18{
		margin-top: -20px;
		margin-left: 9px;
		
		
}						

#paragrafo19{
		margin-top: -14px;
		margin-left: 9px;
		
		
}						
#paragrafo20{
		margin-top: -12px;
		margin-left: 4px;
		
		
}					
	#paragrafo21{
		margin-top: -14px;
		margin-left: 9px;
		
		
		
}					
#paragrafo22{
		margin-top: -29px;
		margin-left: 5px;
		
		
}	


#paragrafo30{
		margin-top: 10px;
		margin-left: 12px;
		
		
		
}					
	#paragrafo31{
		margin-top: 14px;
		margin-left: 12px;
		
		
		
}					
#paragrafo32{
		margin-top: -10px;
		margin-left: 3px;
		
		
		
}					
#paragrafo33{
		margin-top: -23px;
		margin-left: 12px;
		
		
		
}					
#paragrafo34{
		margin-top: 20px;
		margin-left: 12px;
		
		
		
}					
#paragrafo35{
		margin-top: -18px;
		margin-left: 12px;
		
		
		
}					
#paragrafo36{
		margin-top: -15px;
		margin-left: 12px;
		
		
		
}					
#paragrafo37{
		margin-top: -11px;
		margin-left: 12px;
		
		
		
}					

					
#paragrafo40{
		margin-top: 15px;
		margin-left: -5px;
		
		
		
}					
.paragrafo100{

margin-top: -9px;
margin-left: 450px;
margin-bottom:-48px;

}


#complementoSIC{
	
	margin-left:1000px;
	margin-top:1px;
	margin-bottom:-2px;
}



#paragrafoenviar{
		margin-top: 6px;
		margin-left: 340px;
		margin-bottom:
		
		
		
}					